.about {
    margin: 140px 13%;
    font-family: 'Poppins';
}
.about__title {
    color: var(--solid-heading);
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -1px;
}
.about__content{
    width: 70%;
    max-width: 708px;
    color: var(--dark-content);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.about__section div {
    margin-bottom: 38px;
}
