.about {
    margin: 140px 13%;
    font-family: 'Poppins';
}
.paragraph, .about__education {
    width: 100%;
}
.paragraph{
    color: var(--dark-content);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.about__section > div {
    margin-bottom: 38px;
}
.about__education {
    display: flex;
    flex-direction: column;
}
.about__education > div {
    display: flex;
    justify-content: space-between;
}
.education-name {
    color: var(--dark-content);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    letter-spacing: 1px;
}
.education-type {
    width: 84px;
    height: 24px;
    border-radius: 100px;
    background-color: #D7FFE0;
    color: #018C0F;
    text-align: center;
    font-size: 9px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
}
.education-location, .education-date {
    color: var(--light-content);
    font-size: 14px;
    font-weight: 400;
}

.logo {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 12px;
    width: 16px;
    margin-right: 8px;
}
.location-logo{
    background: url('../assets/office-building.svg');
}
.date-logo {
    background: url('../assets/calendar-dates.svg');
}

@media screen and (max-width: 426px) {
    .about {
        margin: 70px 11%;
    }
    .about__section > div {
        margin-bottom: 25px;
    }
    .education-name {
        font-size: 14px;
        line-height: 20px;
    }
    .education-location, .education-date {
        font-size: 12px;
    }
}