:root {
    --solid-heading: #42446E;
    --dark-content: #666666;
    --light-content: #A7A7A7;
    --colors-heading:#1E0E62;
    --bp-m-sm: 375px;
    --bp-m-lg: 425px;
    --bp-tablet: 768px;
    --bp-laptop: 1024px;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root {
    overflow: hidden;
}
.title {
    font-family: 'Poppins';
    color: var(--solid-heading);
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -1px;
    &-centered {
        text-align: center;
    }
}
.paragraph{
    font-family: 'Poppins';
    color: var(--dark-content);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
@media screen and (max-width: 426px) {
    .title {
        font-size: 30px;
    }
    .paragraph {
        font-size: 14px;
    }
}