.footer {
    margin: auto 10%;
    color: var(--solid-heading);
    font-family: 'Poppins', 'DM Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    &__up, &__info, .footer__bottom, .footer__bottom ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__info {
        gap: 15px;
    }   
    &__bottom {
        border-top: 2px solid rgba(102, 102, 102, 0.7);
        padding: 15px 0;
        & ul {
            width: 45%;
            padding: 0;
        }
    }
    &__text {
        font-family: 'Poppins';
        & span {
            background: linear-gradient(90deg, #13B0F5 2.60%, #E70FAA 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 500;
        }
    }
}

.github-icon {
    background: url('../assets/github.svg');
}
.linkedin-icon {
    background: url('../assets/linkedin.svg');
}
.icon {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-left: 10px;
}

@media screen and (max-width: 1439px) {
    .footer__logo img {
        width: 200px;
    }
}
@media screen and (max-width: 1023px) {
    .footer__logo img {
        width: 150px;
    }
}
@media screen and (max-width: 768px) {
    .footer {
        font-size: 12px;
    }
}
@media screen and (max-width: 590px) {
    .footer {
        font-size: 11px;
        &__up {
            flex-direction: column;
        }
        &__text {
            text-align: center;
        }
    }
}