.projects {
    margin: 140px 10%;
    font-family: 'Poppins';
    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2%;
        margin-top: 50px;
    }
    & .title {
        margin-bottom: 38px;
    }
}

@media screen and (max-width: 1000px) {
    .projects__container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 746px) {
    .projects {
        margin: 70px 10%;
    }
}

@media screen and (max-width: 714px) {
    .projects__container {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            margin-top: 30px;
        }
}