.projectCard {
    width: 31%;
    margin-bottom: 25px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.20);
    &__image {
        height: 43%;
        & img {
            width: 100%;
            height: 100%;
            border-radius: 20px 20px 0 0;
        }
    }
    
    &__content {
        height: 250px;
        padding: 5px 18px;
    }
    &__title {
        margin-top: 8px;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
    }
    &__description {
        height: 57%;
        margin: 7px auto;
        color: var(--dark-content);
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 20px
    }
    &__techStack {
        display: flex;
        margin: 5px auto;
        justify-content: space-between;
        margin: 5px auto;
        color: var(--solid-heading);
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        & .bold {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
        }
       
    }
    &__links{
        display: flex;
        justify-content: space-between;
        & span {
            background-repeat: no-repeat;
            background-size: contain;
        }
        & a {
            color: black;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px; 
        }
    }
}
.linkIcon{
    background: url('../assets/link-chain.svg');
}
.gitIconSmall{
    background: url('../assets/github-small.svg');
}

@media screen and (max-width: 812px) {
    .projectCard{
        width: 48%;
        &__content {
            height: 300px;
        }
        &__title {
            font-size: 18px;
        }
        &__description {
            font-size: 12px;
            height: 52%;
        }
        &__techStack {
            font-size: 11px;
        }
    }
}
@media screen and (max-width: 760px) {
    .projectCard {
        width: 100%;
    }
}
// hasta unos 460 px se ve bien con una única tarjeta. a unos 714  px se ve bien con dos tarjetas. Entre medio hay que mirar qué estrategia se usa para que las tarjetas se vean bien, tal vez hacerlas anchas pero no largas, o usando flex y mandando todo al final. O una sola tarjeta con más margen. Tal vez funcione poner un ancho del 70% pero 