.techStack {
    margin: 140px 13%;
    font-family: 'Poppins';
    &__icons{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        justify-items: center;
        & img {
            width: 120px;
            height: 120px;
        }
    }
    & > div {
        margin-bottom: 38px;
    }
}
.tech-icon {
    &__text {
        font-size: 11px;
        text-align: center;
        color: var(--dark-content);
    }
}